.slide-screen-page {
    position: absolute;
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    // transform: scale(0.4);

    .bg-img-box {
        width: 8190px;
        height: 1920px;
        position: absolute;
        transition: all 1s linear;

        .bg {
            width: 100%;
            height: 1920px;
        }

        .time-line {
            position: absolute;
            top: 25%;
            left: 0;
            width: 100%;
            height: 70%;

            img {
                position: relative;
                height: 100%;
                margin-bottom: -176px;
            }

            .throule-line {
                position: absolute;
                height: 50px;
                background: #333;
                left: 0;
                bottom: 50%;
                width: 100%;
            }
        }
    }

    .left-control,
    .right-control {
        position: absolute;
        width: 150px;
        height: 1920px;
        top: 0;
    }

    .right-control {
        right: 0;
    }
}
